body {
    color: #95969A !important;
    background-color: #23262E !important;
    font-family: "Open Sans", sans-serif;
}

.banner {
    height: 50px;
    background-color: #2d3038;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #95969A;
}

/*APP TITLE*/

.banner h5 {
    color: #95969A;
    margin-left: 10px;
    margin-top: 1px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 0.0;
    text-transform: uppercase;
}

/*APP SUBTITLE*/

.banner h3 {
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 1.6rem;
    line-height: 0.0;
    color: #C72125;
}


.banner h6 {
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    /*margin-top: 20px;*/
    font-size: 1.6rem;
    line-height: 0.3;
    /*color: #C72125;*/
}

/*MAPBOXPLOT INFO DISPLAY*/

.banner h2 {
    min-height: 20px;
    background-color: #2d3038;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 0px;
    max-width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #95969A;
    font-size: 1.4rem;
}




.banner h4 {
    margin-left: 10px;
    font-size: 1.4rem;
    /*line-height: 1;*/
}

.banner button {
    margin-left: 60%;
    color: #95969A;
}

.banner Img {
    position: relative;
    float: right;
    right: 1%;
    height: 40px;
}

.custom-tabs {
    background-color: #2d3038;
    text-transform: uppercase;
    font-weight: bold;
    height: 20px;
}

#tab1.custom-tab, #tab2.custom-tab{
    background-color: #2d3038;
    color: #95969A;
    border-color: #23262E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tab1.custom-tab--selected, #tab2.custom-tab--selected {
    border-top-color: #f3204f !important;
}




.rc-slider-track {
  background-color: #f3204f;
}

.rc-slider-dot-active {
  border-color: #f3204f;
}

.rc-slider-handle {
  background-color: #f3204f;
  border-color: #f3204f;
}

.rc-slider-handle:hover {
  border-color: #f3204f;
}

.rc-slider-handle-active:active {
  border-color: #f3204f;
}


.container.scalable {
    width: 95%;
    max-width: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1005;
    left: 0;
    top: 0;
    width: 100vw; /
    height: 100vh;
    overflow: auto; /
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.markdown-container {
    width: 60vw;
    margin: 10% auto;
    padding: 10px 15px;
    background-color: #2d3038;
}

.close-container {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
}

.closeButton {
    padding: 0 15px;
    font-weight: normal;
    float: right;
    height: 100%;
    border: none;
}

.closeButton:hover {
    color: #FFD15F;
}

#tab-trigger-btn {
    margin-right: 4%;
    margin-top: 20px;
    color: white;
}

#tab-trigger-btn:hover {
    color: #FFD15F;
}


#react-select-2--value {
    background: #2d3038;
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
    color: #95969A !important;
}

.Select-control, .Select-control > span {
    color: #95969A;
    background: #2d3038 !important;
}

.Select.is-focused:not(.is-open) > .Select-control {
    border-color: #FFD15F !important;
}

.output-datatable {
    margin: 20px 0px;
    line-height: 3;
}


#value-setter-set-btn:hover, #value-setter-view-btn:hover {
    color: #FFFFFF;
}